

.button1 {
    border: none; 
    text-decoration: none; 
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 15px;
    font-family: 'Barlow';
    background-color: #207200;
    color: #fff;
    font-weight: 600;
    font-size: .75rem;
    border-radius: 20px;
}

.button2 {
    border: none; 
    text-decoration: none; 
    display: inline-block;
    padding: 8px 15px;
    font-family: 'Barlow';
    background-color: #207200;
    color: #fff;
    font-size: .75rem;
    border-radius: 20px;
}

.button3 {
    border: none; 
    text-decoration: none; 
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 15px;
    font-family: 'Barlow';
    background-color: #fff;
    color: #207200;
    font-weight: 600;
    font-size: .75rem;
    border-radius: 20px;
    margin-bottom: 40px;
    
}

.button4 { 
    border: none; 
    text-decoration: none; 
    display: inline-block;
    padding: 13px 30px;
    font-family: 'Barlow';
    background-color: #207200;
    color: #fff;
    font-weight: 600;
    font-size: .75rem;
    border-radius: 20px;
}


.button5 {
    border: none; 
    text-decoration: none; 
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 15px;
    font-family: 'Barlow';
    background-color: #207200;
    color: #fff;
    font-weight: 600;
    font-size: .75rem;
    border-radius: 20px;
}
