html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Barlow";
}

h2,
h3 {
  font-family: "Lora";
  font-weight: 600;
}

.linksAndCart ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.linksAndCart ul li {
  padding: 5px;
}
.linksAndCart ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1a2428;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 13px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.shoppingCart img {
  width: 20px;
  padding-top: 20px;
  margin-left: 20px;
}

.linksAndCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topNavigation {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  top: 0;
  left: 5;
  right: 0;
  bottom: 2;
  z-index: 99;
  background: #ffffff;
  list-style: none;
  padding: 20px;
}

.navItem {
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.topNavigation li {
  margin: 10px;
}

.showNav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 25px;
  right: 15px;
  padding: 4px;
  border: black solid 1px;
  background: white;
  border: none;
  cursor: pointer;
}
.hamburger .fa-solid {
  display: block;
}
.hamburger .fa-regular {
  display: none;
}

.homeHeader {
  background: url(../assets/header/background.png);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.headerFlexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerImage img {
  width: 550px;
  height: 500px;
  -ms-flex-item-align: center;
      align-self: center;
}

.headerText h1 {
  font-family: "Lora", bold;
  line-height: 48px;
  font-size: 2.5rem;
}

.headerText p {
  padding-bottom: 15px;
}

.bottomSectionBackground {
  background: url(../assets/cow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bottomSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 150px;
}

.logo img {
  width: 550px;
  height: 500px;
}

.bottomAbout {
  width: 250px;
}

.bottomAbout p {
  line-height: 25px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0px;
}

.quickLinks ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.quickLinks ul li {
  padding: 5px;
}
.quickLinks ul a {
  text-decoration: none;
  text-transform: capitalize;
  color: #1a2428;
  font-size: 1rem;
}

.bottomAbout,
.quickLinks,
.recentProducts,
.subscribe {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.recentProducts img {
  width: 80px;
  height: 80px;
}

.recentProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerImage {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.containerText {
  margin: 0px;
}

.containerTextCost {
  color: #207200;
  font-weight: 600;
}

.subscribe input {
  padding: 15px;
  font-family: "Barlow";
}

.copyrightBackground {
  background: #207200;
}

.copyright {
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
}

.wrapper {
  max-width: 2000px;
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper2 {
  max-width: 2000px;
  width: 55%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper3 {
  max-width: 2000px;
  width: 55%;
  height: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper4 {
  max-width: 2000px;
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper5 {
  max-width: 2000px;
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper5 p {
  -ms-flex-item-align: center;
      align-self: center;
}

.wrapper6 {
  max-width: 2000px;
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button1 {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 15px;
  font-family: "Barlow";
  background-color: #207200;
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem;
  border-radius: 20px;
}

.button2 {
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px;
  font-family: "Barlow";
  background-color: #207200;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 20px;
}

.button3 {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 15px;
  font-family: "Barlow";
  background-color: #fff;
  color: #207200;
  font-weight: 600;
  font-size: 0.75rem;
  border-radius: 20px;
  margin-bottom: 40px;
}

.button4 {
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 13px 30px;
  font-family: "Barlow";
  background-color: #207200;
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem;
  border-radius: 20px;
}

.button5 {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 8px 15px;
  font-family: "Barlow";
  background-color: #207200;
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem;
  border-radius: 20px;
}

.aboutUsTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUsText,
.bestServices {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aboutUsText h2 {
  font-size: 1.75rem;
  margin-top: 0px;
}

.aboutUsText h3 {
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.aboutUsText p {
  font-size: 0.85rem;
  line-height: 20px;
}

.bestServices {
  background: #3b9617;
  color: #fff;
  padding: 50px 0px 50px 50px;
  width: 50px;
  margin-left: 80px;
  border-radius: 25px;
  font-size: 1rem;
  line-height: 35px;
}

.aboutusTotal p {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 45px;
}

.productsText {
  text-align: center;
  padding-left: 174px;
  padding-right: 217px;
}

.productsText h2 {
  text-transform: uppercase;
}

.productsText p {
  margin-top: 0px;
}

.productsRow1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productsRow1 img {
  width: 100%;
}

.veggie1,
.veggie2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  border: 2px solid #f8f8f8;
}

.productsRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productsRow2 img {
  width: 100%;
}

.cost {
  color: #207200;
  font-weight: 600;
}

.gallery {
  background: url(../assets/grass.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.galleryText h2 {
  text-transform: uppercase;
  margin-top: 150px;
}

.galleryText p {
  margin-top: 0px;
}

.galleryText {
  text-align: center;
  padding-left: 174px;
  padding-right: 217px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.topButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
  margin-bottom: 25px;
}

.galleryFirstRow,
.gallerySecondRow,
.galleryThirdRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galleryFirstRow img {
  width: 100%;
  margin: 5px;
}

.gallerySecondRow img {
  width: 100%;
  margin: 5px;
}

.galleryThirdRow img {
  width: 100%;
  margin: 5px 5px 100px 5px;
}

.gallery.button3 {
  margin-bottom: 40px;
}

.latestNews {
  background: #207200;
}

.latestNews button {
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
}

.latestNewsText {
  color: #fff;
  text-align: center;
  padding-left: 174px;
  padding-right: 217px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.latestNewsText h2 {
  text-transform: uppercase;
  margin-top: 120px;
}

.latestNewsText p {
  margin-top: 10px;
}

.departureBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}

.departureBoxes img {
  width: 100%;
}

.departureBoxes p {
  margin-top: 5px;
}

.departure1,
.departure2,
.departure3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  margin-top: -15px;
  margin-bottom: 50px;
  background: #fff;
  padding: 15px;
  padding-bottom: 30px;
}

.contactHeader {
  background: url(../assets/contact.jpg);
  background-size: cover;
  height: 400px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactHeaderText h1 {
  font-family: "Lora";
  color: #fff;
}

.contactHeaderText {
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.contactBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactBox1,
.contactBox2,
.contactBox3 {
  border-left: 5px solid #207200;
  padding: 15px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.065);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.065);
  margin-bottom: 35px;
}

.contactForm input {
  padding: 15px;
  font-family: "Barlow";
  font-size: 0.75rem;
}

.contactBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm,
.contactBoxes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
}

.contactForm {
  padding: 25px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.065);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.065);
  margin-bottom: 35px;
}

@media (max-width: 500px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerFlexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .headerText {
    margin-bottom: 50px;
  }
  .headerImage {
    display: none;
  }
  .aboutUsTotal {
    margin-top: 90px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bestServices {
    visibility: hidden;
  }
  .productsText {
    margin-top: 80px;
    padding: 0px;
  }
  .productsRow1,
  .productsRow2,
  .departureBoxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .topButtons {
    width: 50%;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .galleryFirstRow,
  .gallerySecondRow,
  .galleryThirdRow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .latestNewsText {
    padding-left: 115px;
  }
  .bottomSection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactBody {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 749px) {
  .shoppingCart img {
    display: none;
  }
  .linksAndCart ul {
    display: none;
  }
}
@media (min-width: 750px) {
  .hamburger {
    display: none;
  }
}